<template id="student-item-temp">
    <div class="d-flex flex-row comment-row p-3 mt-0">
        @* <div class="p-2"><img src="plugins/images/users/varun.jpg" alt="user" width="50" class="rounded-circle"></div> *@
        <div class="comment-text ps-2 ps-md-3 w-100">
            <h5 class="font-medium">James Anderson</h5>
            <span class="mb-3 d-block desc">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>
            <div class="comment-footer d-md-flex align-items-center">
                <span class="badge bg-danger rounded">New</span>
                <div class="text-muted fs-2 ms-auto mt-2 mt-md-0 date">April 14, 2021</div>
            </div>
        </div>
    </div>
</template>