<template id="event-item-temp">
    <li>
        <a href="javascript:void(0)" class="d-flex align-items-center">
            <div class="ms-2">
                <h4 class="text-dark event-name">Varun Dhavan
                </h4>
                <small class="d-block text-success d-block fs-4 event-date mt-0">Date</small>
            </div>
        </a>
    </li>
</template>