<template id="event-item">
    <li>
        <a href="javascript:void(0)" class="d-flex align-items-center">
            <div class="ms-2">
                <h4 class="text-dark">Varun Dhavan 
                    <small class="d-block text-success d-block fs-4">Date</small></h4>
            </div>
        </a>
    </li>
</template>