<template id="comment__temp">
    <div class="user1 d-flex flex-row align-items-center">
        <div class="comment-item ms-3 bg-light p-2 w-100 mb-2 rounded">
            <p style="margin-bottom: 2px;"><b class="commentor">Name sa Commentor</b></p>
            <p class="comments-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quod quisquam officiis ad, neque quo in aperiam commodi? Vitae, eaque eligendi explicabo magnam sit veritatis saepe voluptatum maxime nam mollitia?</p>
        </div>
    </div>
</template>